<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coworkerteam.coworker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coworker">

        <activity android:name=".ui.camstudy.info.MyStudyInfoActivity" />
        <activity android:name=".ui.camstudy.info.StudyInfoActivity" />
        <activity android:name=".ui.camstudy.info.ParticipantsActivity" />
        <activity android:name=".ui.camstudy.cam.CamStudyActivity" />
        <activity android:name=".ui.study.edit.EditStudyActivity" />
        <activity android:name=".ui.search.StudySearchActivity" />
        <activity android:name=".ui.todolist.TodoListActivity" />
        <activity android:name=".ui.statistics.StatisticsActivity" />
        <activity android:name=".ui.setting.account.WithdrawalActivity" />
        <activity android:name=".ui.study.make.MakeStudyActivity" />
        <activity android:name=".ui.study.management.ManagementActivity" />
        <activity android:name=".ui.study.leader.transfer.LeaderTransferActivity" />
        <activity android:name=".ui.setting.to.developer.ToDeveloperActivity" />
        <activity android:name=".ui.mystudy.MyStudyActivity" />
        <activity android:name=".ui.category.CategoryActivity" />
        <activity android:name=".ui.setting.profile.edit.ProfileEditActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao8017cd7866917e1c96fbb041dba3a4ab" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.setting.profile.MyProfileActivity" />
        <activity android:name=".ui.camstudy.enter.EnterCamstudyActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />

        <service
            android:name=".data.local.Service.CamStudyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>